node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.docker
.github
tests
*.md
.DS_Store
Thumbs.db
vendor/bin/phpunit
vendor/pestphp
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/storage
.vscode
.idea